{% set title = 'Main Page' %}
{% extends "templates/base.html" %}

{% block header %}
<nav class="uk-navbar">
    <ul class="uk-navbar-nav uk-hidden-small uk-navbar-attached">
        <li class="uk-active"><a href="">Active</a></li>
        <li><a href="">Item</a></li>
        <li class="uk-parent"><a href="">Parent</a></li>
    </ul>
    <a href="#my-id" class="uk-navbar-toggle uk-visible-small"></a>
</nav>
{% endblock %}

{% block content %}
    <h1>Test</h1>
    {% for item in items %}
        {% include "templates/parts/item.html"  %}
    {% endfor %}
    <div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-small-1-2">Test1</div>
        <div class="uk-width-small-1-2">Test2</div>
    </div>
    </div>
{% endblock %}
