@import 'sprite';
@import 'mixins';
@include sticky-footer(30px, '#wrapper', '#global-container', '#footer');
@include font-face('Roboto', '../fonts/RobotoRegular', 400, normal, eot woff ttf);
body {
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    background-image: url('../img/background.jpg');
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
h1 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

#nav {
    background: #009dff;
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        > li {
            display: inline-block;
            list-style: none;
            > a {
                color: #fff;
                text-decoration: none;
                padding: 6px 12px;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
#footer {
    text-align: center;
    background: #7CB0E0;
    color: #444;
    line-height: 30px;
}