<meta charset="utf-8">
<title>Basic Template</title>
<!-- inject:favicon -->
<!-- endinject -->

<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- inject:head:css -->
<!-- endinject -->

    <!--[if lt IE 9]>
    <script src="js/libs/html5shiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script>
    <script src="js/libs/es5-shim.min.js"></script>
    <![endif]-->

<!-- inject:head:js -->
<!-- endinject -->